name: Trigger auto deployment for c2

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/c2-AutoDeployTrigger-5c42b8f9-eb34-4297-a2e6-0685493fae97.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.C2_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.C2_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.C2_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: c2devedu.azurecr.io
          registryUsername: ${{ secrets.C2_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.C2_REGISTRY_PASSWORD }}
          containerAppName: c2
          resourceGroup: c2
          imageToBuild: c2devedu.azurecr.io/c2:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


